body {
  margin: 0;
}

input{
  margin: 1em 0.2em;
  border: 2px solid #422800;
border-radius: 30px;
box-shadow: #422800 4px 4px 0 0;
color: #422800;
font: bold;
font-size: 1.1rem;

padding: 0.2em
}

.container {
width: 70%;
margin: 5em auto;
background-color: #fbeee0;
padding: 2em;
color: rgb(66, 40, 0);
border: solid 1px #422800;
 box-shadow: #422800 4px 4px 0 0;
}


.all {
widows: 20em;
height: 20em;
margin: auto;
 
}


.check {
margin: 1em;

}
.passCont{
display: flex;
gap:1em;
}

#passOne{
width: 50%;
background: white;
color: black;
padding: 1em;
 border-radius: 5px
}

#passTwo{
width: 50%;
background: white;
color: black;
padding: 1em;
border-radius: 5px
}


.passCont p{
border: solid 1px #422800;
color: rgb(66, 40, 0);
font-weight: bold;
filter: blur(5px);
}


.passCont p:hover{
filter: blur(0px)
}

.passBtn {
background-color: #fbeee0;
border: 2px solid #422800;
border-radius: 30px;
box-shadow: #422800 4px 4px 0 0;
color: #422800;
cursor: pointer;
display: inline-block;
font-weight: 600;
font-size: 18px;
padding: 0 18px;
line-height: 50px;
text-align: center;
text-decoration: none;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
}

.passBtn:hover {
background-color: #fff;
}

.passBtn:active {
box-shadow: #422800 2px 2px 0 0;
transform: translate(2px, 2px);
}

@media (min-width: 768px) {
.passBtn {
min-width: 120px;
padding: 0 25px;
}
}